# Data Visualization

_September 18, 2020_

By the end of the lecture you will be able to:

- explain why data visualization matters
- plot with matplotlib a Single plot
- plot with matplotlib a multi plot
- plot with Seaborn

## Why is Data Visualization Important?

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

<h2> Men lie, women lie, numbers don't - Jay - Z</h2>
<h3> But sometimes they do </h3>

In [2]:
# Load the example dataset for Anscombe's quartet
df = sns.load_dataset("anscombe")
df

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [3]:
# use groupby, get the mean and variance of each data set
df.groupby(['dataset']).agg(['mean','var'])

           x               y
        mean   var      mean       var
dataset
I        9.0  11.0  7.500909  4.127269
II       9.0  11.0  7.500909  4.127629
III      9.0  11.0  7.500000  4.122620
IV       9.0  11.0  7.500909  4.123249

In [4]:
# we can also examine the correlation between the dataset
df.groupby(['dataset']).corr()

                  x         y
dataset
I       x  1.000000  0.816421
        y  0.816421  1.000000
II      x  1.000000  0.816237
        y  0.816237  1.000000
III     x  1.000000  0.816287
        y  0.816287  1.000000
IV      x  1.000000  0.816521
        y  0.816521  1.000000

In [5]:
sns.set(style="ticks")

# Show the results of a linear regression within each dataset
sns.lmplot(x="x", y="y", col="dataset", hue="dataset", data=df,
           col_wrap=2, ci=None, palette="muted", height=4,
           scatter_kws={"s": 50, "alpha": 1})

TypeError: lmplot() got an unexpected keyword argument 'height'

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

Matplotlib is a complex library (70,000 + lines of code!). In order to best understand how it creates graphs it's important to understand how objects are structured in matplotlib.

### Two Ways to Generate a Single Plot

**Method 1**<br>
Plot your Xs vs your Ys

In [ ]:
X = [1,2]
Y = [3,4]
plt.scatter(X,Y);
plt.title('This is an example title')

**Method 2**<br>
Using subplots to set up your figure and axes

<img src = 'figure-axes.png' width = 400;>

In [ ]:
fig, ax = plt.subplots()
ax.plot(X, Y);

In [ ]:
ax.set_title('This is an example title');
ax.set_xlabel('x label')
ax.set_xticks([1,2])
ax.set_xticklabels(['one','two'])
fig
# examine the ax object

In [ ]:
# examine the figure

#### How do we add a title to the above plot?

In [ ]:
ax.set_title('Line')
ax.set_xlabel('X Axis')
ax.set_ylabel('Y Axis');
ax.set_xticks([1,2]);

In [ ]:
# examine the figure
fig

### Create a Figure with 2 Axes(Plots)

In stages

In [ ]:
fig, ax = plt.subplots(1,2)

In [ ]:
ax[0].bar([1,2], [3,4],color = 'pink', alpha = 0.5)
ax[1].scatter([1,2], [3,4], color = 'blue', alpha = 0.5)

In [ ]:
# help function on barplot

In [ ]:
# check out the figure

### Another example

In [ ]:
#generate some data
x = np.linspace(0, 10, 100)
y = np.sin(x)

#### create a figure with 2 x 2 plots

In [ ]:
figure_sin, axes = plt.subplots(2,2, figsize = (10,10))

In [ ]:
axes[0][0].scatter(x,y)
axes[0][1].plot(x,y)
axes[1][0].hist(y)
axes[1][1].fill(x,y);

In [ ]:
figure_sin

#### How can we create a title for the scatter plot?

In [ ]:
axes[0][0].set_title('Scatter')
axes[0][0].set_xlabel('Independent variable name')
axes[0][0].set_ylabel('Dependent variable name');
axes[0][1].set_title('line plot');

In [ ]:
figure_sin

### Your turn

1 - Create a 2x2 figure with matplotlib<br>
2 - Use 4 different types of plots for the following dataset

In [ ]:
aq = pd.read_csv('aq.csv')

In [ ]:
aq

In [ ]:
aq1 = aq[['x123','y1']]
aq1

In [ ]:
fig , axes = plt.subplots(2,2, figsize = (10,10))

In [ ]:
# Take the opportunity to read the documentation of these 4 methods
x = None
y = None
axes[0][0].scatter(x,y)
#axes[_][_].plot(_,_)
#axes[_][_].hist(_)
#axes[_][_].bar(_,_)

In [ ]:
# Add titles to each of the axes objects
axes[0][0].set_title('Scatter plot')
#axes[_][_]._('Line plot')
#axes[_][_]._('Histogram')
#axes[_][_]._('Bar chart')

In [ ]:
# And finally label your axes
axes[_][_]._('Independent variable name')
axes[_][_]._('Independent variable name')
axes[_][_]._('Independent variable name')
axes[_][_]._('Independent variable name')

axes[_][_]._('Dependent variable name')
axes[_][_]._('Dependent variable name')
axes[_][_]._('Dependent variable name')
axes[_][_]._('Dependent variable name')

In [ ]:
# Now show the plot
fig

## Data Analysis Example & Using Seaborn

Seaborn is built on top of Matplotlib. Seaborn adds some styling to existing matplotlib graphs as well as adds some additional graphing capabilities.

In [ ]:
import seaborn as sns
sns.set()

In [ ]:
plt.style.use('fivethirtyeight')

In [ ]:
plt.plot([1,2], [3,4])

The most useful aspect of seaborn is that it allows you to use Pandas DataFrame Objects directly.

In [ ]:
#loads tips dataset
tips = sns.load_dataset("tips")

In [ ]:
tips.head()

In [ ]:
# visualize the relationship between bill and tip
sns.scatterplot('total_bill', 'tip', data=tips);

In [ ]:
tips.sex

In [ ]:
# calculate average tips amount by gender
y = None
x = None

In [ ]:
# check to see if x and y are correct

In [ ]:
# visualize the average tips men vs women pay - what's the appropriate plot?
#x = None
#average_tips_amount = None
fig, ax = plt.subplots()
ax.bar(x,y)
ax.set_title('average tip amount for male and female')
ax.set_xticks([0,1])
ax.set_xticklabels(['male','female'])

In [ ]:
# visualize the average amount of total bill for time (lunch or dinner)
y = None
x = None
fig, ax = plt.subplots()
ax.bar(x,y, color = 'pink')
ax.set_title('average tip amount for time')
ax.set_xticks([0,1])
ax.set_xticklabels(['lunch','dinner'])

## Resources

- https://www.ted.com/talks/david_mccandless_the_beauty_of_data_visualization#t-503926
- https://realpython.com/python-matplotlib-guide/

- https://pudding.cool/
- http://setosa.io/#/