# Pandas III

_September 17, 2020_

Agenda today:
- Statistics in Pandas 
- Groupby in Pandas
- Stacking & Unstacking

# Part I. Statistics in Pandas
Pandas allow us to calculate various summary statistics for the dataframe, such as mean, variance, and other descriptive statistics measurements. Let's see some examples.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [3]:
#check the info
df.info

<bound method DataFrame.info of                   country  beer_servings  spirit_servings  wine_servings  \
0             Afghanistan              0                0              0
1                 Albania             89              132             54
2                 Algeria             25                0             14
3                 Andorra            245              138            312
4                  Angola            217               57             45
5       Antigua & Barbuda            102              128             45
6               Argentina            193               25            221
7                 Armenia             21              179             11
8               Australia            261               72            212
9                 Austria            279               75            191
10             Azerbaijan             21               46              5
11                Bahamas            122              176             51
12                Bahrain             42               63              7
13             Bangladesh              0                0              0
14               Barbados            143              173             36
15                Belarus            142              373             42
16                Belgium            295               84            212
17                 Belize            263              114              8
18                  Benin             34                4             13
19                 Bhutan             23                0              0
20                Bolivia            167               41              8
21     Bosnia-Herzegovina             76              173              8
22               Botswana            173               35             35
23                 Brazil            245              145             16
24                 Brunei             31                2              1
25               Bulgaria            231              252             94
26           Burkina Faso             25                7              7
27                Burundi             88                0              0
28          Cote d'Ivoire             37                1              7
29             Cabo Verde            144               56             16
..                    ...            ...              ...            ...
163              Suriname            128              178              7
164             Swaziland             90                2              2
165                Sweden            152               60            186
166           Switzerland            185              100            280
167                 Syria              5               35             16
168            Tajikistan              2               15              0
169              Thailand             99              258              1
170             Macedonia            106               27             86
171           Timor-Leste              1                1              4
172                  Togo             36                2             19
173                 Tonga             36               21              5
174     Trinidad & Tobago            197              156              7
175               Tunisia             51                3             20
176                Turkey             51               22              7
177          Turkmenistan             19               71             32
178                Tuvalu              6               41              9
179                Uganda             45                9              0
180               Ukraine            206              237             45
181  United Arab Emirates             16              135              5
182        United Kingdom            219              126            195
183              Tanzania             36                6              1
184                   USA            249              158             84
185               Uruguay            115               35            220
186            Uzbekistan             25              101              8
187               Vanuatu             21               18             11
188             Venezuela            333              100              3
189               Vietnam            111                2              1
190                 Yemen              6                0              0
191                Zambia             32               19              4
192              Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
5                             4.9       NaN
6                             8.3        SA
7                             3.8        EU
8                            10.4        OC
9                             9.7        EU
10                            1.3        EU
11                            6.3       NaN
12                            2.0        AS
13                            0.0        AS
14                            6.3       NaN
15                           14.4        EU
16                           10.5        EU
17                            6.8       NaN
18                            1.1        AF
19                            0.4        AS
20                            3.8        SA
21                            4.6        EU
22                            5.4        AF
23                            7.2        SA
24                            0.6        AS
25                           10.3        EU
26                            4.3        AF
27                            6.3        AF
28                            4.0        AF
29                            4.0        AF
..                            ...       ...
163                           5.6        SA
164                           4.7        AF
165                           7.2        EU
166                          10.2        EU
167                           1.0        AS
168                           0.3        AS
169                           6.4        AS
170                           3.9        EU
171                           0.1        AS
172                           1.3        AF
173                           1.1        OC
174                           6.4       NaN
175                           1.3        AF
176                           1.4        AS
177                           2.2        AS
178                           1.0        OC
179                           8.3        AF
180                           8.9        EU
181                           2.8        AS
182                          10.4        EU
183                           5.7        AF
184                           8.7       NaN
185                           6.6        SA
186                           2.4        AS
187                           0.9        OC
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]>

In [ ]:
# calculate mean beer_servings

In [ ]:
# calculate summary statistics for all measurements

In [ ]:
# how could we view summary statistics for categorical variable?

In [ ]:
# reviewing subsetting and selecting - select the countries on continent AF

## Part II. Pandas Groupby
Groupby methods in Pandas allow you to aggregate data and perform operations on them. The method can be summarized as split-apply-combine. The groupby function allow us to split the dataframe into _groups_, apply operations on them, and aggregate a final result. Let's look at some examples.

In [ ]:
# review summary statistics for each continent

In [ ]:
# which continent drinks more beer on average?

In [ ]:
# exercise - which continent drinks more beer than wine?

In [ ]:
# you can also groupby multiple columns - which will result in a hierarchical index. 

# read in df from this url https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

# and set the index as user_id
occupations = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

In [ ]:
# calculate the mean age per occupation

In [ ]:
# for each combination of sex and occupation, show the mean age, assigned it to group by age

In [ ]:
# exercise - for each occupation, calculate the percentage of female and sort it from high to low

## Part III. Stacking & Unstack
Stack and unstack in Pandas provide a way for us to easily manipulate the format of our dataframes. As we see above, the row index can have hierarchy - where one level of index is nested under another. This structure can happen for columns as well. If we want to manipulate the structure of rows and columns, we need to learn stack() and unstack().

**Stack()**

<img src = 'stack.png' width = 450>

**Unstack()**

<img src = 'unstack.png' width = 450>

What you you think is happening here?

In [ ]:
# turn group by age from long to wide

In [ ]:
# play around with stacking and unstacking for the above datasets

#### Optional exercises & level up - the Adult dataset

In [ ]:
# read in the adults dataset 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = None

In [ ]:
# create a column called income binary, 1 if income >50k 0 otherwise

In [ ]:
# explore the racial distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by race

In [ ]:
# explore the gender distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by gender