# Pandas II - Data Cleaning

_September 17, 2020_

Agenda today:
- Introduction to lambda function
- Introduction to data cleaning in pandas
- Combining DataFrames
- Optional Exercises

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Part I. Lambda function
lambda functions are known as anonymous functions in Python. It allows you to write one-line functions that are used together with `map()`, `filter()`.

Syntax of lambda function: `lambda arguments:expressions`.

In [2]:
# lambda function with one argument
func_1 = lambda x:x+10
func_1(10)

20

In [3]:
(lambda x:x+10)(10)

20

In [4]:
func_a = lambda x, y, z: x+y+z
func_a(10,12,10)

32

In [5]:
# lambda function with multiple arguments
func_2 = lambda x, y, z: x+y+z if z + y > x else x-y+z
func_2(10,12,10)

32

In [8]:
# exercise: turn the below function into a lambda function
def count_zeros(li):
    """
    return a count of how many zeros are in a list
    """
    count = sum(x == 0 for x in li)
    return count

In [9]:
count_zeros([1,2,4,0])

1

In [20]:
myList = [1,2,4,0]
list(map( lambda x: x == 0, myList))

[False, False, False, True]

In [21]:
sum(map( lambda x: x == 0, myList))

1

In [23]:
list(filter(lambda x: x ==0, myList))

[0]

In [24]:
len(list(filter(lambda x: x ==0, myList)))

1

In [17]:
map(function, collection)

NameError: name 'function' is not defined

In [ ]:
filter(function, collection)

In [19]:
# your answer here
sum(list(map(lambda x:x == 0,[1,2,4,0])))

1

## Part II. Data Cleaning in Pandas
You might wonder what the usage of lambda functions are - they are incredibly useful when applied to data cleaning in Pandas. You can apply it to columns or the entire dataframe to get results you need. For example, you might want to convert a column with $USD to Euros, or temperature expressed in Celsius to Fehrenheit. You will learn three new functions:

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [25]:
# import the dataframe 
df = pd.read_csv('auto-mpg.csv')

In [27]:
# examine the first few rows of it 
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [32]:
# check the datatypes of the df
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [37]:
# check whether you have missing values
df.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
368,False,False,False,False,False,False,False,False,False
369,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False
374,False,False,False,False,False,False,False,False,False
375,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False
385,False,False,False,False,False,False,False,False,False
386,False,False,False,False,False,False,False,False,False
387,False,False,False,False,False,False,False,False,False
388,False,False,False,False,False,False,False,False,False
389,False,False,False,False,False,False,False,False,False
390,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [40]:
# creating new columns - broadcasting - superior to lambda functions bc it's faster
df['tons'] = df['weight'] * .0005

In [41]:
# check the dataframe
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,tons
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245

In [38]:
# time to use lambda and apply! with apply, applymap, and map, you never need to "iterate through the rows"

# create a function that takes in the weight as lbs, and return weight in tons 

# 1 lb = 0.0005 tons

df['tons']= df.weight.apply(lambda x: x*0.0005)

In [39]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,tons
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245

In [42]:
# exercise - create a new column called "years old", which determines how old a car is 
df['years_old'] = df['model year'].apply(lambda x: 120-x)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,tons,years_old
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520,50
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465,50
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180,50
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165,50
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245,50

## Part III. Combining DataFrames in Pandas
There are two methods in Pandas that allow us to combine our DataFrames:

    - df.merge() - allow us to match dataframes on either indices or columns
    - df.concat() - allow us to concatenate two dataframes vertically or horizontally

In [43]:
# create some toy dataframes 
import pandas as pd
import numpy as np
small_grades = pd.DataFrame({"students":["Amelia","Justin W","Brendan"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_quiz = pd.DataFrame({"students":["Billy","Cierra","Justin W"],
                            "quiz_score":np.random.randint(0,10,3)})

In [45]:
### df.concat 
combined = pd.concat([small_grades, small_quiz], axis = 1)
combined

   grades  projects  students  quiz_score  students
0      94         1    Amelia           1     Billy
1      81         2  Justin W           2    Cierra
2      86         1   Brendan           3  Justin W

In [46]:
combined = pd.concat([small_grades, small_quiz], axis = 0)
combined

   grades  projects  quiz_score  students
0    94.0       1.0         NaN    Amelia
1    81.0       2.0         NaN  Justin W
2    86.0       1.0         NaN   Brendan
0     NaN       NaN         1.0     Billy
1     NaN       NaN         2.0    Cierra
2     NaN       NaN         3.0  Justin W

<img src = 'sql-joins.png' width = 400>

Based on the diagram above, what are the differences of different types of merge?

In [47]:
### df.merge
small_grades.merge(small_quiz, on = 'students')
# inner merge

   grades  projects  students  quiz_score
0      81         2  Justin W           3

In [50]:
# outer merge
small_grades.merge(small_quiz, how='outer', on = 'students')

   grades  projects  students  quiz_score
0    94.0       1.0    Amelia         NaN
1    81.0       2.0  Justin W         3.0
2    86.0       1.0   Brendan         NaN
3     NaN       NaN     Billy         1.0
4     NaN       NaN    Cierra         2.0

In [51]:
# right merge
small_grades.merge(small_quiz, how='right', on = 'students')

   grades  projects  students  quiz_score
0    81.0       2.0  Justin W           3
1     NaN       NaN     Billy           1
2     NaN       NaN    Cierra           2

### Data Cleaning - level up with the adult dataset

Dataset documentation:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(url,header = None)

In [ ]:
# Check the first few rows

In [ ]:
# add the columns to dataset
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital_status','occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country','income']

In [ ]:
# check the info of dataset

In [ ]:
# check missing values

In [ ]:
# perform some queries - find the total num female & bachelors

In [ ]:
# seems like we have data anolmaly, find out what that is and fix it 
# hint - tons of entries contain white space, remove it!

In [ ]:
# subsetting multiple cols

In [ ]:
# create a column called income_binary, 1 if >50k and 0 otherwise

In [ ]:
# get some descriptive statistics of the income distribution